<div class="popup poi">
    <div class="header">
        {{label}}
    </div>
    {{#if categories.[0]}}
        <div class="categories">
            {{#each categories}}
                <span class="category">{{ this }}</span>
            {{/each}}
        </div>
    {{/if}}
    {{#if description}}
        <div class="description">
            <img src="{{mainPhoto}}" class="mainPhoto"/>
            {{description}}
        </div>
    {{/if}}

    {{#if photos.[0]}}
        <div class="photos">
            <div class="header">
                Photos
            </div>
            {{#each photos}}
                <a href="{{ this }}" target="_blank"><img src="{{ this }}" class="photo"/></a>
            {{/each}}
        </div>
    {{/if}}

    <div class="source">
        <div class="header">
            Source
        </div>
        <a href="{{url}}" target="_blank">{{ source }}</a>
    </div>
</div>
